<div ng-controller="questionCtrl">
	<div class="bar bar-header bar-stable">
	  <h1 class="title">Gas or Ethanol?</h1>
	</div>
	<br />
	<br />
	<div class="content padding has-header">
		<form name="form" novalidate="novalidate">
			<div class="list">
			  	<label class="item item-input item-stacked-label">
			    	<h2 class="input-label">Gasoline Price</h2>
			    	<input name="gas" ng-model="data.gas" type="number" step="0.01" min="0.01" max="99" required  placeholder="Ex:2.99">
			  	</label>
				<label class="item item-input item-stacked-label">
				   <h2 class="input-label">Ethanol Price</h2>
				   <input name="ethanol" ng-model="data.ethanol" type="number" step="0.01" required min="0.01" max="99" placeholder="Ex:2.99">
				</label>
			</div>
			<br />
			<button class="button icon-left ion-ios-calculator button-block button-positive" ng-click="calculate(data)">
				Calculate
			</button>
			<br />
			<br />
		</form>

		<div ng-show="answer!=null" class="card">
			<div class="response item item-text-wrap text-center">
		  		<h1 class="ion-erlenmeyer-flask"></h2>
				<h2>{{answer}}</h5>
	  		</div>
	  	</div>
	</div>
</div>