<div ng-controller="questionCtrl">
<div class="bar bar-header bar-stable">
  <h1 class="title">Gas or Ethanol?</h1>
</div>
<br />
<br />
<div class="content padding has-header">
	<div class="list">
	  	<label class="item item-input item-stacked-label">
	    	<span class="input-label">Gasoline Price</span>
	    	<input type="text" placeholder="Ex:2.99">
	  	</label>
		<label class="item item-input item-stacked-label">
		   <span class="input-label">Ethanol Price</span>
		   <input type="text" placeholder="Ex:2.99">
		</label>
	</div>
	<br />
	<button class="button icon-left ion-ios-calculator button-block button-positive">
		Calculate
	</button>
	<br />
	<br />
	<div class="card">
		<div class="response item item-text-wrap text-center">
	  		<h1 class="ion-erlenmeyer-flask"></h2>
			<h2>Gasoline</h5>
  		</div>
  	</div>
</div>
	
</div>